@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #a75207;
}

body {
  font-family: Raleway, sans-serif;
}

main {
  margin: auto;
  width: 80%;
}

.page-title {
  margin: 40px auto 10px; /*margin: top right bottom left; */
  padding-left: 10px;
  width: 80%;
  font-size: 24pt;
  font-weight: 700;
  color: var(--primary-color); /* Código hexadecimal da cor */
}

.page-subtitle {
  margin: 10px auto 10px;
  padding-left: 10px;
  width: 80%;
  font-size: 20pt;
}

.titulo-artigo {
  font-size: 18pt;
  margin: 10px 10px 10px 10px;
}

.subtitulo-artigo {
  font-size: 14pt;
  margin: 10px 10px 10px 10px;
}

.paragrafo-artigo {
  font-size: 12pt;
  margin: 10px 10px 10px 10px;
  line-height: 1.4;
}

.link-menu-principal a {
  text-decoration: none;
}

.categoria-produto {
  font-size: 140%;
  font-weight: 600;
  margin: 10px 10px 10px 10px;
  background-color: var(--primary-color);
  color: #ffffff;
  line-height: 3;
  padding-left: 20px;
} 

.vitrine-produtos {
  margin: 40px 0;
}

.lista-produtos {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.imagem-produto {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: 0 0;
}

.rodape {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 20px;
}

.imagem-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0 10%;
}

.menu-navegacao {
  width: 80%;
  margin: auto;
}

.menu-navegacao ul {
  display: flex;
  justify-content: start;
}

.menu-navegacao ul li {
  padding: 20px;
}